@import url('https://fonts.cdnfonts.com/css/w95fa');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pixelate');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scanlines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 4px);
    animation: scanlineAnimation 1s linear infinite;
}

@keyframes scanlineAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(4px);
    }
}

main {
    animation: flickerAnimation 0.01s infinite
}

@keyframes flickerAnimation {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}